.Menus{
    height: 100%;
    display: flex;
    flex-flow: column;
    /* overflow-x:hidden; */
}

.MenusCategory{
    padding: 5% 10px 10px 10px;
    height: 40vh;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
}

.MenusCategoryTitle{
    font-size: 2em;
    font-weight: bolder;
    margin: 20px;
    display: flex;
}

.MenusCards{
    display: flex;
    padding-left: 30px;
}

.MenuPhoto{
    overflow: hidden;
}
.MenuPhoto img{
    width: 100%;
    height: 100%;
}


.MenuCard{
    margin: 10px;
    width: 40vh;
    height: 35vh;
    box-shadow: 2px 3px 3px 3px rgba(212, 212, 212, 0.308);
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-auto-rows: 30vw;
}

.MenusNamePrice{
    font-size: 1.4em;
    font-weight: bold;
    display: flex;
    flex-flow: row;
    align-items:center;
    justify-content: space-between;
}

.MenusNamePrice{
    padding: 1px 10px;
}


.MenuEditor{
    position: absolute;
    top:20px;
    right: 10px;
}

.UpdateMenus{
    position: absolute;
    top: 20px;
    right: 10px;
}

.MenuEditBtns{
    background-color: #fff;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1em;
    outline: none;
    margin: 5px;
    cursor: pointer;
}

.DelMenuBtn{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    margin: -4px 0 0 -4px;
    padding: 5px 9px;
    border-radius: 50%;
    position: absolute;
    outline: none;
}

.offeraplBtn{
    position: absolute;
    margin-left: -15px;
    transform: scale(2);
}

.ApplyOffersDD{
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border:none;
}

.offeraplBox{
    transform: scale(2);
    margin: 15px 10px;
}