.Menus{
    height: 100%;
    display: flex;
    flex-flow: column;
    /* overflow-x:hidden; */
}

.MenusCategory{
    padding: 20px;
    height: 45vh;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
}

.MenusCategoryTitle{
    font-size: 2em;
    font-weight: bolder;
}

.MenusCards{
    display: flex;

}

.MenuPhoto{
    overflow: hidden;
}
.MenuPhoto img{
    width: 100%;
    height: 100%;
}


.MenuCard{
    margin: 10px;
    width: 40vh;
    height: 35vh;
    box-shadow: 2px 3px 3px 3px rgba(212, 212, 212, 0.308);
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-auto-rows: 30vw;
}

.MenusNamePrice{
    font-size: 1.4em;
    font-weight: bold;
    display: flex;
    flex-flow: row;
    align-items:center;
    justify-content: space-between;
}

.MenusNamePrice{
    padding: 1px 10px;
}


.MenuEditor{
    position: absolute;
    top:20px;
    right: 10px;
}

.UpdateMenus{
    position: absolute;
    top: 20px;
    right: 10px;
}

.MenuEditBtns{
    background-color: #fff;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1em;
    outline: none;
    margin: 5px;
    cursor: pointer;
}