.admin-logo {
    height: 36px;
    width: 36px;
    margin: 5px;
}

.profile {
    display:flex;

}

.admin {
    width: 40%;
    background: yellow;
    float: left;
    padding: 0 20px;
}

.admin-title {
    margin:20px 0;
}

.admin-pic {
    height: 200px;
    width: 200px; 
}

.admin-pic-wrap {
    display: flex;
    justify-content: center;
}

.admin-details {
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile-rest {
    width:60%;
    padding-left:20px;
}

.profile-rest-title {
    margin:30px 0;
}

.profile-nav ul {
    width:40%;
    padding: 0 20px;
    float:right;
    display:flex;
    justify-content: space-around;
    list-style: none;
}

<<<<<<< HEAD
.profile restaurant name{
    font-size: 50px;
    font-weight: bold;
=======
.profile-bold-txt {
    font: size 37;
    font-family: montserrat;
    font-weight:bolder;
}
.profile-rest-details {
    height:25em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.profile-normal-txt {
    font: size 37;
    font-family: montserrat;
}

.profile-gst-pan {
    display: flex;
>>>>>>> 9027571f9e1e94d46cb15365909af5f559ece69c
}