.requests-items-wrap {
    width:25vw;
    padding:0 2em;
    display:flex !important;
    justify-content: space-around;
    float:right;
    align-items: center;
    font-size: 1.2em;
}

.requests-itemsbtn {
    background: linear-gradient(90deg, rgba(255, 208, 0, 0.836), rgba(226, 22, 8, 0.836));
    border:none;
    border-radius:1em;
    outline: none;
    height: 2em;
    width: 100%; 
    color: white;
    font-family: 'Montserrat';
    font-size: .8em;
    font-weight: bold;
    padding: 0;
}

.requests-itemsbtn-wrap {
    width:50%;
    padding-bottom: .5em;
}

.request-row{
    text-align: left;
    color: black;
    border-radius:12px;
    background-color:#F5F5F5;   
    border-spacing:0 15px; 
}

.request-table{
    border-collapse:collapse; 
    margin-top:0;
    width: 100%;
    padding-top: 12px 0;
    text-align: left;
    justify-content: space-around;
    margin-right: 3vw;
    border-radius: 12px;  
}

.request-row td {
    padding: 1em;
}

