.MenuModel{
    width: 40vw;
    height: 50vh;
    z-index: 3;
    position: fixed;
    top: 15vh;
    left: 25vw;
    background : linear-gradient(90deg, rgb(255, 196, 0),rgb(255, 215, 35));
    box-shadow: 3px 8px 7px 7px rgba(190, 190, 190, 0.616);
    display: flex;
    align-items: center;
    justify-content: center;
}


.EModel label{
    font-size: 1.1em;
    font-weight: bolder;
    padding: 5px;
    margin : 10px;
}

.EModel input{
    width: 25%;
    border: none;
    border-radius: 10px;
    padding: 5px 10px; 
    outline: none;
    margin : 10px;
}

.ModelBtn{
    width: 20%;
    margin-left: 20%;
    margin-top: 10%;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: 550;
    padding: 5px;
    background-color: rgb(252, 217, 104);
    border:none;
    outline: none;
}

.ModelButtons button{
    margin: 2px;
}

.Model-photo::-webkit-file-upload-button {
    background-color: #fff;
    /* border: 2px solid black; */
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
    cursor: grab;
    font-weight: bolder;
} 